.DS_Store
.springBeans
.factorypath
${deploy.dir}
logs
.idea
*.iml
target/
.classpath
.attach_pid*
.project
.settings/
deploy
src/main/resources/config/config-local.properties
*.log
*/target/*
services/notification/service/config/templates/*
/.metadata/
